//basic color palette
$color-1: #69c2c8; // Downy - bright turquoise
$color-2: #ed4b64; // Mandy - bright pink
$color-3: #f3a8b8; // Wewak - light pink
$color-4: #FBD433; // Bright Sun - yellow
$color-5: #FBF9EF; // Bianca - cream
$color-6: #513914; // chocolate brown

// Mixins for Link States

@mixin link-states($base-color) {
    @if $base-color == $color-5{
        a {
            transition: all .3s ease-in;
            &:link, &:visited {
            color: $color-5;
            text-decoration: none;
            font-weight: bold;
            }
            &:hover {
            color: $color-4;
            text-decoration: underline;
            }
            &:active {
            color: $color-4;
            }
            &:focus {
            border: 1px dotted $color-6;
            }
        }
    }
    @else {
        a {
            transition: all .2s ease-in;
            &:link, &:visited {
            color: darken($base-color, 15%);
            text-decoration: none;
            font-weight: bold;
            }
            &:hover {
            color: lighten($base-color, 15%);
            text-decoration: underline;
            }
            &:active {
            color: $color-4;
            }
            &:focus {
            border: 1px dotted $color-6;
            }
        }
    }
}

@mixin colored-row {
    background-color: rgba($color-3, .3);
    h3 {
        color: $color-1;
    }
}

@mixin selection($text-color) {
    &::selection {
        color: $color-5;
        background: $text-color;
    }
}

/*****************************************
/*     Base Color Scheme                */
/****************************************/

body {
    background-color: $color-6;
}

.page-wrapper {
    background-color: $color-5;
}

p {
    color: $color-6;
    @include link-states($color-6);
    @include selection($color-6);
}

.summary {
    border-bottom: 1rem solid $color-2;
}

.preamble, .participation, .requirements {
    @include colored-row;
}

.sidebar {
    background-color: rgba($color-1, .8);
    color: $color-5;
    @include link-states($color-5);
}

footer {
    background-color: $color-2;
    color: $color-5;
    @include link-states($color-5);
}