// color palette - these colors will be the color swatches of the Colors section

$color-1: #69c2c8; // Downy - bright turquoise
$color-2: #ed4b64; // Mandy - bright pink
$color-3: #f3a8b8; // Wewak - light pink
$color-4: #FBD433; // Bright Sun - yellow
$color-5: #FBF9EF; // Bianca - cream

body {
    background-color: $color-5;

}