
.extra1 {
    display:block;
    content: '';
    height: 50px;
    position: relative;

    &::before {
        display: block;
        content: '';
        height: 50px;
        width: calc(100% + 50px);
        margin: 0 -25px 0 -25px;
        background: repeating-linear-gradient(
            to right, 
            $color-2, 
            $color-2 50px, 
            $color-3 50px, 
            $color-3 100px); 
    }
    
    @supports(transform: scaleY(-1)){
        &::after {
            @include scallop-edge;
            margin: 50px -25px 0 -25px;
            width: calc(100% + 50px);
            bottom: 50px;
            left: 0;
            transform: scaleY(-1) translateY(-1px);
        }
    }   
}