// Layout for large screens

@mixin grid-block($side) {
    padding-bottom: 5%;
    &::after {
        content: '';
        display:block;
        position: absolute;
        @if $side == 'left' {left: -100%;}
        @else {left: 100%;}
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }
}

@mixin hover-card {
    & h3 {
        text-shadow: 2px 2px 3px lighten($color-4, 15%);
    }
    & h3::after {
        opacity: 100%;
        animation: candy-dance 1s linear infinite;
    }
}

@media screen and (min-width: 600px) {
    // Wrapper
    .page-wrapper, .extra1 {
    max-width: 800px;
    @media screen and (min-width: 1000px) {
            max-width: 1000px;
        }
    }

    .intro {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .summary, header {
        grid-column: 1 / span 2;
    }

    .main-supporting {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .explanation {
        grid-column: 2;
        grid-row: 1;
    }

    .participation {
        grid-area: 1;
        grid-row: 2;
    }

    .benefits {
        grid-column-start: 2;
        grid-row: 3;
    }

    .requirements {
        grid-column: 1 / span 2;
        grid-row: 4;
    }

    footer {
        grid-column: 1 / span 2;
        grid-row: 5;
    }

    .preamble, .participation {
        @include grid-block('right');            
    }

    .explanation, .benefits {
        @include grid-block('left');
    }

    .preamble::after {
        background: url(../images/peppermint-block.svg) repeat;
        background-size: 200px 200px;
        background-color: rgba($color-3, .3);
    }

    .explanation::after {
        background: url(../images/gummybear-block.svg) repeat;
        background-size: 200px 200px;
    }

    .participation::after {
        background: url(../images/lolly-block.svg) repeat;
        background-size: 200px 200px;
        background-color: rgba($color-3, .3);
    }

    .benefits::after {
        background: url(../images/jellybean-block.svg) repeat;
        background-size: 150px 150px;
    }

    .preamble, .explanation, .participation, .benefits, .requirements {
        &:hover {
            @include hover-card;
        }
    }

    .design-selection ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 3%;
        justify-items: center;
        padding: 0 1rem;
    }

    .wrapper {
        background: rgba($color-1, .1);
    }

    .zen-resources {
        padding-bottom: 50px;
    }
}
