.design-name {
    text-transform: uppercase;
}

.designer-name {
    font-size: .8rem;
}


@media screen and (min-width: 600px) {
    .design-selection nav ul {
        z-index: 1;
    }

    .design-selection nav ul li {
        height: 350px;
        padding: auto;
        text-align: center;
        position: relative;
        z-index: 5;
        &::after {
            content: ' ';
            width: 300px;
            height: 300px;
            position: absolute;
            left: 50%;
            margin-left: -110%;
            top: 50%;
            margin-top: -60%;
            background-color: $color-1;
            z-index: -1;
            background: url(../images/icons/lollipop-pink.svg) center no-repeat;
        }
    }

    .design-selection nav ul li::before {
        display:none;
    }

    .design-selection nav ul li:hover:after {
        transition: all 1.5s ease-in-out;
        transform: scale(.5) rotate(360deg);
    }
}