// Layout for small screens
$border-height: 75px;

// Wrapper
.page-wrapper {
    max-width: 300px;
    margin: 0 auto;
    @media screen and (min-width: 450px) {
        max-width: 400px;
    }
}

// Header

.intro header, .summary {
    text-align: center;
    padding: 0 10%;
}

.summary {
    margin-top: 2rem;
}

// Paragraphs

.preamble, .explanation, .participation, .benefits, .requirements {
    padding: 5% 10% $border-height 10%;
    position: relative;
    &::after {
        content: '';
        display:block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: $border-height;
        padding: 0;
        background: url(../images/gumdrop-blue.svg) repeat-x;
        background-size: contain;
        background-position: -50%;
    }
}

footer {
    text-align: center;
}

// Other Designs links

.design-selection ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    grid-gap: 3%;
    padding: 10%;
    justify-items: center
}

.design-selection li:nth-child(n+6){
    display:none;
}

// Bottom links

.design-archives, .zen-resources {
    h3 {
        display: none;
    }
    ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
    li {
    display: inline-block;
    }
    li + li::before {
        content: " | ";
    }
}